.content {

  max-width: 980px;
  margin: 30px auto;
  padding: 0 1em;

  &__left {
    width: 48.85654885654886%;
    float: left;
  }

  &__right {
    width: 48.85654885654886%;
    float: right;
  }

}