/*Header
----------------------------------------------------------*/

.header {
  background: #F4F2F2;
  border-top: 1px solid #F4F2F2;
  border-bottom: 1px solid #ddd;

  &__section  {
    .clearfix;
    padding-bottom: 24px;
    position: relative;
    z-index: 10;
  }
}

.logo {
  margin-top: 39px;
  float: left;

  a {
    display: block;
    width: 148px;
    img {
      display: block;
    }
  }
}

.menu {
  float: left;
  margin-left: 26.5px;
  margin-top: 49px;

  li {
    display: inline-block;

    > a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding: 0 14.5px;
      display: block;
    }
  }

  .active > a,
  li > a:hover {
    color: #587beb;
  }

  .submenu-trigger {
    > a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -45px;
        left: 38%;
        display: none;
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #F6F6F6;
      }
    }
  }

  .toggle-nav {
    display: none;
  }
}

.cart {
  float: right;
  margin-top: 43px;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;

  &__count {
    font-size: 12px;
    position: relative;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    padding: 2px 5px;
    display: inline-block;
    color: #fff;
    margin-left: 28px;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.71), 0px 1px 0px 0px rgba(255,255,255,0.43);
    
    &:before {
      left: -25px;
      top: 5px;
      position: absolute;
    }

    &:after {
      content: '';
      position: absolute;
      left: -2px;
      top: 42%;
      height: 4px;
      width: 4px;
      display: inline-block;
      border-width: 0 0 1px 1px;
      .transform (rotate(45deg));
      box-shadow: inset 1px -1px 0px 0px rgba(0,0,0,0.71), 0px 1px 0px 0px rgba(255,255,255,0.43);
    }
  }
}

.header__section {
  .black-stl {
    font-size: 0px;
    .cart__count:after {
      background: #313131;
    }
    &:hover .cart__count:after {
      background: #515151;
    }
    &:active .cart__count:after {
      background: #2D2D2D;
    }
  }
}

.header__section {
  .blue-btn {
    .cart__count:after {
      background: #427CEF;
    }
    &:hover .cart__count:after {
      background: #6395F7;
    }
    &:active .cart__count:after {
      background: #2965D9;
    }
  }
}



@media( max-width: 690px ) {

  .header {
    &__section {
      padding-bottom: 15px;
    }
  }

  .logo {
    margin-top: 20px;
  }

  .cart {
    margin-top: 23px;
  }

  .menu {
    float: none;
    margin: 0;
    padding-top: 65px;

    .submenu-trigger a:after {
      bottom: -28px;
    }

    >ul {
      display: table;
      width: 100%;

      >li {
        display: table-cell;
        text-align: center;
      }
    }

  }
}

@media( max-width: 440px ) {

  .header {
    border-top: 0;
    border-bottom: 0;
    &__section {
      padding-bottom: 13px;
    }
  }

  .logo {
    float: none;
    margin-top: 0;
    padding-top: 15px;
    a {
      width: 130px;
      margin: 0 auto;

      img {
        width: 130px;
      }
    }
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 0px;
    left: 0px;
    //display: none;

    .toggle-nav {
      width: 55px;
      height: 55px;
      display: block;
      background: #333;
      text-decoration: none;

      .menu-icon {
        top: 25px;
        left: 15px;

        &,
        &:before,
        &:after {
          display: block;
          content: '';
          width: 26px;
          height: 3px;
          position: absolute;
          cursor: pointer;
          background: #fff;
          border-radius: 1px;
          //.transition (transform 220ms ease-in-out,top 220ms ease-in-out,background 220ms ease-in-out;);
        }

        &:before {
          top: -8px;
        }

        &:after {
          bottom: -8px;
        }
      }

      .close-span {
        color: #fff;
        font-size: 12px;
        padding-top: 18px;
        padding-right: 50px;
        text-align: right;
        display: none;
      }
    }

    >ul {
      display: none;
      width: 100%;
      background: #F6F6F6;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      >li {
        display: block;
        text-align: left;
        border-bottom: 1px solid #D0D0D1;
        >a {
          font-size: 14px;
          padding: 10px 1em;
        }
      }
    }
  }

  .active-mobile-menu {
    width: 60%;

    .toggle-nav {
      width: 100%;

      .menu-icon {
        left: auto;
        right: 10px;
        background: transparent;

        &:before {
          top: 0;
          .transform (rotate(45deg));
        }

        &:after {
          top: 0;
          .transform (rotate(-45deg));
        }
      }

      .close-span {
        display: block;
      }
    }

    >ul {
      display: block;
    }
  }

  .cart {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0;
    border-radius: 0;
    font-size: 0;
    padding: 14px 11px 13px;

    .cart__count {
      font-size: 18px;

      &:before {
        left: -30px;
      }
    }
  }
}


/*Hover-menu
----------------------*/
.header .submenu-trigger:hover {

  .hover-area {
    display: block;
  }

  .hover-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-flow: row;
    flex-flow: row;
  }

  >a:after {
    display: block;
  }
}


.hover-area {
  position: absolute;
  bottom: -150px;
  left: -0px;
  width: 100%;
  height: 210px;
  display: none;

  z-index: -1;
}

.hover-menu {
  position: absolute;
  left: 0px;
  top: 113px;
  width: 100%;
  background: #F6F6F6;
  .box-shadow ( 0px 2px 5px 0px rgba(0, 0, 0, 0.3));

  display: none;

  ul {
    display: inline-block;
    width: 75%;
    .clearfix;

    li {
      float: left;
      box-sizing: border-box;
      width: 33.33%;
      padding: 0 0 0 3%;
      border-right: 1px solid #E8E8E8;

      &:nth-of-type(3n) {
        border-right: 0;
      }

      &:hover {
        background: #E9E9E9;
      }

      a {
        color: #363636;
        text-decoration: none;
        //height: 20px;
        display: block;
        padding: 8% 0 8%;

        p {
          display: inline;
        }

        &[data-icon]:before {
          display: block;
          float: left;
          font-size: 18px;
          margin: 0 16px 0 2px;
        }
      }
    }
  }

  .promo {
    display: inline-block;
    width: 25%;
    padding: 12px 0 0 12px;
    background-color: #77C0CF;
    background-image: url(../images/promo3.png);
    background-repeat: no-repeat;
    background-position: right top;
    //background-size: cover;

    a {
      width: 20%;
      height: 100%;
      display: block;
      position: absolute;
      text-decoration: none;

      strong {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
      }

      span {
        color: #000;
        display: block;
        font-size: 12px;
        line-height: 12px;
      }
    }   
  }
}


@media( max-width: 800px ) {

  .header .submenu-trigger:hover .hover-menu {
    display: block;

    ul {
      display: block;
      width: 100%;
      text-align: left;
    }

    .promo {
      width: 100%;
      height: 120px;
      display: block;
      position: relative;
      text-align: left;
      padding: 20px 0;

      a {
        width: 100%;

        strong {
          margin-left: 25px;
        }

        span {
          margin-left: 20px;
        }
      }
    }
  }
}

@media( max-width: 600px ) {

  .header .submenu-trigger:hover .hover-menu {

    ul {

      li{
        width: 50%;
        border-right: 1px solid #E8E8E8 !important;

        &:nth-of-type(2n) {
         border-right: 0 !important;
        }
      }
    }  
  }
}

@media( max-width: 440px ) {
  .active-mobile-menu {
    .submenu-trigger:hover .hover-menu {
      background: #fff;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      .box-shadow (inset 0 2px 5px 0 rgba(0, 0, 0, 0.3) );

      >ul {
        padding: 10px 0 5px 0;
        >li {
          float: none;
          width: 100%;
          display: block;
          border-right: 0 !important;
          >a {
            font-size: 12px;
            padding: 4% 0;

            &[data-icon]:before {
              font-size: 12px;
              line-height: 18px;
              margin: 0 8px 0 5px;
            }
          }
        }
      }

      .promo {
        display: none;
      }
    }
    .submenu-trigger:hover > a:after {
      bottom: auto;
      top: 16px;
      left: 3px;
      z-index: 1;
      content: "\25BE";
      font-size: 35px;
      position: absolute;
      border: none;
      color: #F6F6F6;
      text-shadow: 0 2px 2px rgba(0,0,0,0.33);
      .transform (scaleX(2));
    }
  }
}