.upload-place {
  width: 100%;
  &__header {

    position: relative;

    height: 93px;
    padding-left: 98px;

    border-top: solid 1px transparent;

    .border-radius(4px, 0, 0, 4px);
    background-color: #f5f5f5;

  }

  &__content {

    position: relative;

    &.overlay {

      &:after {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;


        width: 100%;
        height: 100%;
        content: '';

        background-color: rgba(0, 0, 0, .5);
      }

    }

    .button-block {
      margin: 0 auto;
      text-align: center;
    }

    .description {

      display: table;
      margin: 0px auto 20px;
      font-size: 14px;
      color: #8c8c8c;
      text-align: center;
    }

  }

}

.instagramm-toggle {

  position: relative;
  z-index: 1;

  display: table;
  margin: 5.5% 0 0 5%;
  padding: .1em;

  font-size: 13px;

  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 6px;

  &__item {

    display: block;
    float: left;
    text-align: center;
    white-space: nowrap;



  }

  &__link {

    display: block;
    padding: 1.2em 1.7em;
    color: #787878;
    text-decoration: none;
    cursor: pointer;

    &.active {

        background-color: #417cef;
        border-radius: 5px;
        color: #fff;

    }

  }

}

.user-icon {

  position: absolute;
  right: 6%;
  top: 50%;
  margin-top: -27px;

  width: 54px;
  height: 54px;

  &__inner {

    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 4px;

    img {

      width: 100%;

    }

  }

}

@media ( max-width: 880px ) {

  .user-icon {

    display: none;

  }

}

@media ( max-width: 760px ) {

  .upload-place__header {

    padding-left: 67px;

  }

  .instagramm-toggle {

    margin-top: 5.0%;

    &__link {

      padding: 0.6em 1em;

    }

  }

}

@media ( max-width: 600px ) {

  .instagramm-toggle {

    width: 85%;
    margin-top: 8%;

    &__item {

      width: 50%;

    }

    &__link {

      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;

    }

  }

}

@media ( max-width: 440px ) {

  .instagramm-toggle {

    max-width: 62%;
    margin-top: 4%;

  }

  .user-icon {


    width: 44px;
    height: 44px;

    margin-top: -22px;
    display: block;

  }

}

.upload-place-select {

  padding: 30px;
  display: block;

  background-color: #ebebeb;

  &.type_instagram,
  &.type_computer {

    display: none;

  }
}

.upload-dropdown {

  /*position: relative;
  float: left;*/
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  &-holder {

    width: 98px;
    height: 100%;
    padding-top: 33px;

    background-color: #ebebeb;
    cursor: pointer;

    /*-webkit-transition: ease all .5s;
    transition: ease all .5s;*/


    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #8c8c8c;

    &.type-select {
      display: block;
    }
    &.type_instagram,
    &.type_computer {
      display: none;
    }

    &.active,
    &:active {

      .inner-bsha(0,3px, 3px, #cdcdcd );

      &:after {
        transform: rotate(180deg);
      }
    }

    &:after {

      position: relative;
      top: -7px;
      padding-left: 8px;
      content: '\25bc';
      font-family: @font-2;
      speak: none;
      font-weight: normal;
      font-size: 13px;

    }
  }

}

.upload-dropdown-menu {

  &.active {
    display: block;
  }

  z-index: 2;
  position: absolute;
  top: 100%;
  left: calc(12% / 2);

  width: 88%;
  display: none;
  margin: 10px auto 0;

  background-color: #f5f5f5;
  border-radius: 4px;

  &:after {

    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 245, 245, 0);
    border-bottom-color: #f5f5f5;
    border-width: 9px;
    margin-left: -9px;

  }

  &__title {
    vertical-align: top;
  }

  &__selected {

    position: relative;
    top: -7px;
    float: right;


    margin-right: 26px;

    font-size: 26px;
    color: #3972b2;
  }

  &__item {

    padding: 7% 1% 7% 6%;
    display: block;


    font-size: 14px;
    font-weight: bold;
    color: #8c8c8c;

    border-left: 7px solid #bfbfbf;


    &.selected {

      &:after {
        position: relative;
        top: -3px;
        float: right;

        margin-right: 5%;

        font-family: @font-2;
        content: '\e608';

        font-size: 26px;
        color: #3972b2;
      }

    }

    &:first-child {
      border-bottom: solid 1px #d5d5d5;
      .border-radius(4px,0,0,4px);
    }

    &:last-child {
      .border-radius(0,4px,4px,0);
    }

    &:hover {

      color: #417cef;
      border-left-color: #417cef;
      cursor: pointer;

      &:before {
        border-color: #417cef;
      }

    }

    &:before {

      margin-right: 60px;
      margin-right: 16%;

      font-size: 20px;

    }

  }

}

@media ( max-width: 640px ) {

  .upload-dropdown-menu {

    &__item {

      padding: 7% 1% 7% 5%;
      vertical-align: middle;

      font-size: 10px;

      &:before {

        margin-right: 9%;
        vertical-align: middle;

        font-size: 20px;

      }

      &.selected {

        &:after {

          top: 0;

          margin-right: 4%;

          font-size: 18px;

        }

      }

    }

    &__title {

      vertical-align: middle;

    }

  }

}


.upload-form-computer {
  position: relative;

  padding: 2em 0;
  overflow: hidden;

  border: solid 4px #d6d6d6;
  border-radius: 10px;
  background-color: #f5f5f5;


  &__icon {

    font-size: 58px;
    font-weight: normal;
    color: #8c8c8c;
    text-align: center;

  }

  &__label {

    display: table;
    margin: 10px auto 0;
    padding: 10px 14px;

    font-size: 13px;
    font-weight: normal;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0 0 1px 1px rgba(0,0,0,.64);

    border-radius: 3px;
    cursor: pointer;
    background-color: #3f414d;
  }

  &__input {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: block;

    font-size: 200px;
    cursor: pointer;
    opacity: 0;
  }

}

@media( max-width: 760px )  {

  .upload-place {

    &__header {

      height: 64px;

    }

    &__content {

      .description {

        font-size: 12px;

      }

    }

  }

  .upload-dropdown {

    &-holder {

      width: 67px;
      height: 64px;

      font-size: 22px;
      padding-top: 24px;

    }

  }

}

@media ( max-width: 550px ) {

  .upload-form-computer {

    padding: 1em 0;

    &__icon {

      font-size: 40px;

    }

    &__label {

      padding: 5px 7px;

      font-size: 10px;

    }

  }

}

@media ( max-width: 440px ) {

  .content {
    padding: 0;
  }

  .images-list {
    padding: 0 1em;
  }

  .upload-form-computer {

    padding: 1em 0;

    &__icon {

      font-size: 50px;

    }

    &__label {

      padding: 10px 14px;

      font-size: 13px;

    }

  }

  .upload-dropdown-menu {

    &__item {

      &:before {

        font-size: 22px;

      }

      &.selected {

        &:after {

          margin-right: 5%;

          font-size: 22px;

        }

      }

    }

    &__title {

      font-size: 13px;

    }

  }

}


.images-list {

  &.my-photos {

  }

  &.followers {

    display: none;

  }

  margin-top: 20px;

  text-align: justify;

  &:after {

    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

  }

  &__item {

    position: relative;

    box-sizing: border-box;
    width: 31.54762%;
    height: 100%;
    max-height: 176px;
    margin: 0 0 1.78571% 0;
    display: inline-block;
    overflow: hidden;

    border: solid 1px #adadad;
    background: #f5f5f5;
    color: #8c8c8c;

    &_type_followers {

      position: relative;

      &:before {

        position: absolute;
        bottom: 0;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        display: block;
        padding: 8%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        content: attr(data-text);

        white-space: nowrap;
        text-align: center;
        color: #fff;
        background-color: rgba(25,26,31,0.7);
        
      }

      &:hover {

        &:after {

          opacity: 0 !important;

        }

      }

    }

    &.add-more {

      padding: 4.25% 0;

      text-align: center;

      border: 3px dashed #adadad;

    }

    img {

      width: 100%;
      height: auto;
      display: block;
      cursor: pointer;

    }
    
    &.selected {
      border: solid 4px #417cef;
    }

    &:after {

      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;

      content: '';

      width: 100%;
      height: 100%;
      display: block;

      cursor: pointer;
      opacity: 0;
      background-color: rgba(0, 0, 0, .7);
      transition: ease all .2s;

    }
    
    &:hover {

      &:after {

        opacity: 1;

      }

      .images-list__plus-inner:before {
        opacity: 1;
      }

    }

  }

  &__loading {

    &:before {

      position: absolute;
      bottom: 0;

      width: 100%;
      padding-bottom: 10%;
      content: attr(data-text);
      display: table-cell;
      vertical-align: middle;

      text-align: center;
      font-size: 14px;
      color: #8c8c8c;

    }

    &:hover {

      &:after {
        opacity: 0;
      }

    }

  }

  &__add-image {

    position: relative;

    border: dashed 3px #adadad;

    &:hover {

      &:after {
        opacity: 0;
      }

    }

    &:before {

      position: absolute;
      bottom: 0;

      width: 100%;
      padding-bottom: 10%;
      content: attr(data-text);
      display: table-cell;
      vertical-align: middle;

      text-align: center;
      font-size: 14px;
      color: #8c8c8c;

    }

  }

  &__plus {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &-inner {

      position: absolute;
      left: 20%;
      right: 20%;
      top: 20%;
      bottom: 20%;

      width: 60%;
      height: 60%;
      max-width: 60%;
      max-height: 60%;
      display: table;
      margin: auto;

      color: #fff;

      &:before {

        z-index: 3;
        position: relative;

        display: table-cell;
        vertical-align: middle;
        opacity: 0;

        line-height: 1;
        text-align: center;
        font-size: 2.85em;

      }

    }


  }

}


@media ( max-width: 800px ) {

  .images-list {

    &__add-image,
    &__loading {

      &:before {

        display: none;

      }

    }

  }

}

@media ( max-width: 700px ) {

  .images-list {

    &__plus-inner {

      &:before {

        font-size: 1.85em;

      }

    }

  }

}
