html {
    min-height: 100%;
    overflow-y: scroll;
}

body{
	line-height: normal;
	font-family: @font-1;
	font-size: 14px;
	color: #000;
	background:  #fff;
}

section {
  margin: 0 auto;
  max-width: 980px;
  min-width: 400px;

  padding-left: 10px;
  padding-right: 10px;
}

a {
	color: #587beb;

	&:hover {
		text-decoration: none;
	}
}



.pad {
	padding: 0 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*Footer
----------------------------------------------------------*/